/** file: /components/backOffice/orders/orders.css **/

th,
td {
	text-align: center;
}
h1 {
	z-index: 11;
}
.monthSelect {
	position: absolute;
	right: 4em;
	top: 1.2em;
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
	z-index: 11;
}
.changeDate {
	font-size: 2em;
	cursor: pointer;
	transition: all 0.3s ease;
}
.changeDate:hover {
	fill: var(--orange);
}
.paidStatus {
	cursor: pointer;
}
.orderSearch {
	position: absolute;
	left: 4em;
	top: 0.5em;
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	z-index: 9;
}
.orderSearch button {
	border: none;
	display: flex;
	align-items: center;
	background: none;
	font-size: 2em;
	margin: auto;
	cursor: pointer;
	transition: all 0.2s ease;
}
