th,
td {
	text-align: center;
}
h1 {
	z-index: 11;
}
.monthSelect {
	position: absolute;
	right: 4em;
	top: 0.9em;
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
	z-index: 11;
}
.changeDate {
	font-size: 2em;
	cursor: pointer;
	transition: all 0.3s ease;
}
.changeDate:hover {
	fill: var(--orange);
}
.paidStatus {
	cursor: pointer;
}
