.tablesContainer {
	display: grid;
	grid-template-columns: repeat(4, 230px);
	column-gap: 1em;
	max-width: 1000px;
	margin: auto;
}
.etiquette {
	margin: 1em auto;
}
.etiquette th,
.etiquette td {
	padding: 5px;
}
.download {
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
