.go {
	color: var(--light-green);
}
.stop {
	color: var(--strawberry);
}
.recap {
	max-width: '1100px';
	margin: 0 auto;
}
.recapMonthSelect {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5em;
	font-weight: bold;
	z-index: 11;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 1em;
}
.recap h1 {
	margin-bottom: 0;
}
.recap h2 {
	margin: 0 auto;
}
/* .clickableRow {
	cursor: pointer;
	transition: all 0.3s ease;
}
.clickableRow:hover {
	color: var(--black);
	background-color: var(--orange);
} */
.dateInput {
	align-items: center;
	margin: 0 auto;
}
.dateInput label {
	padding-right: 2em;
}
.dateInput input {
	margin: 0;
}
.rowEnd.recapRowEnd {
	font-size: unset;
}
.recapRowEnd .button {
	font-size: 2em;
	display: flex;
	padding: 5px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	margin: 0;
}
